.circles {
  position: absolute;
  filter: drop-shadow(0 0 2px white);
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
}
